SampleJavaCode -> a:
    void <init>() -> <init>
SampleJavaCode$ForwardListImplementation -> b:
    SampleJavaCode$ForwardListImplementation$Node head -> a
    void <init>() -> <init>
    boolean insert(int,int) -> a
    boolean remove(int) -> a
    int getItem(int) -> b
    SampleJavaCode$ForwardListImplementation$Node getItemNode(int) -> c
    int getSize() -> a
SampleJavaCode$ForwardListImplementation$Node -> c:
    int value -> a
    SampleJavaCode$ForwardListImplementation$Node next -> b
    void <init>(int) -> <init>
SampleJavaCode$List -> d:
    boolean insert(int,int) -> a
    boolean remove(int) -> a
    int getItem(int) -> b
